{% extends 'post/base.html' %}
{% block head %}
    <script>
    $(function () {
        simplemde = new SimpleMDE({ element: $(".textarea")[0] });

    })

    comment_info ={'owner_user':{{request.session.uid}},
                        'post_id':{{post.id}} ,
                        'target_user_id':{{ post.author_id }} };
    function get_comments(post_id) {

        $.get('/api/comment/'+post_id,function (data) {

            count = data.count;

            $('#count').html('共'+count+'条评论');
            comments = data.comments;
            response = $('.response_content');
            if(comments.length==0){
                response.append('\<h3>没有评论，快抢沙发！</h3>')

            }
            else{
                response.html('');
                for(index in comments){
                    var p=comments[index].parent;
{#                        加载第一级评论#}

                    if (p === null){


                        content = '	\<div id=\"'+comments[index].id+'\" class=\"media response-info\"\>'+
'						\<div class=\"media-left response-text-left\"\>'+
'							\<a href=\"#\"\>'+
'								\<img class=\"media-object\" src=\"images/c6.jpg\" alt=\"\"/\>'+
'							\</a\>'+
'							\<h5\>\<a href=\"#\"\>'+comments[index].owner_user[1]+'\</a\>\</h5\>'+
'						\</div\>'+
'						\<div class=\"media-body response-text-right\"\>'+
'							\<p\>'+comments[index].content+'\</p\>'+
'							\<ul\>'+
'								\<li\>'+comments[index].created+'\</li\>'+
'								\<li\>\<a id=\"reply\" href=\"javascript:go_comment({{ post.id }}'+','+comments[index].id+',{{ request.session.uid }}'+','+comments[index].owner_user[0]+',\''+comments[index].owner_user[1]+'\'\);\"\>回复\</a\>\</li\>'+
'							\</ul\>'+
'						\</div\>'+
'						\<div class=\"clearfix\"\> \</div\>'+
'					\</div\>';
                        response.append(content);


                    }
                    else {

                        parent_ele = $('#'+comments[index]['parent']).children('.response-text-right');
                         content = '	\<div id=\"'+comments[index].id+'\" class=\"media response-info\"\>'+
'						\<div class=\"media-left response-text-left\"\>'+
'							\<h5\>\<a href=\"#\"\>'+comments[index].owner_user[1]+'\</a>↘↘↘↘\<a\>'+comments[index].target_user[1]+'\</a\>\</h5\>'+
'						\</div\>'+
'						\<div class=\"media-body response-text-right\"\>'+
'							\<p\>'+comments[index].content+'\</p\>'+
'							\<ul\>'+
'								\<li\>'+comments[index].created+'\</li\>'+
'								\<li\>\<a id=\"reply\" href=\"javascript:go_comment({{ post.id }}'+','+comments[index].parent+',{{ request.session.uid }}'+','+comments[index].owner_user[0]+',\''+comments[index].owner_user[1]+'\'\);\"\>回复\</a\>\</li\>'+
'							\</ul\>'+
'						\</div\>'+
'						\<div class=\"clearfix\"\> \</div\>'+
'					\</div\>';
                         parent_ele.append(content);
                    }

                }


            }

        })

    }

    function go_comment(post_id,parent_id,owner,target_user_id,target_user_name) {
            $('.coment-form').show();
            comment_info['post_id'] = post_id;
            comment_info['parent'] = parent_id;
            comment_info['owner_user'] = owner;
            comment_info['target_user_id'] = target_user_id;


            $('html,body').animate({scrollTop:$('.coment-form').offset().top}, 800);
        if (target_user_name==''){
              simplemde.value("说出你的想法!!!");;

        }
        else{
             simplemde.value("正在回复"+target_user_name+'……');


    }}
    function cannel_comment() {
        if(confirm('确认放弃评论？')){
             $('.textarea').attr('id','');

        }

    }



    function commit_comment() {
        comment_info['content'] = simplemde.value();
         comment_info['csrfmiddlewaretoken']='{{ csrf_token }}';
        $.post('/api/comment',comment_info,function (data) {
            if(data.data=='True'){
                $('#p_success').show();
                 $('html,body').animate({scrollTop:$('.response').offset().top}, 800);
                get_comments({{ post.id }});
                 $('.coment-form').hide();

            }
            else{alert('评论失败！')}

        })

    }



    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock head %}

{% block run_js %}

   $('.coment-form').hide();
    get_comments({{ post.id }});

    $('#but_comment').click(function () {
        commit_comment();
    })

       $('#btn_response').click(function () {
        go_comment({{ post.id }},'',{{ request.session.uid }},{{ post.author_id }},'');

    })



{#    $('.textarea').blur(function () {#}
{#            cannel_comment()#}
{#        })#}

{% endblock run_js %}

{% block left_content %}


 <!-- 分享 -->

    	<div class="col-md-2 share_grid">
				<h3>SHARE</h3>
				<ul>
					<li>
						<a href="#">
							<i class="facebook"></i>
							<div class="views">
								<span>SHARE</span>
								<label>180</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="twitter"></i>
							<div class="views">
								<span>TWEET</span>
								<label>355</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="linkedin"></i>
							<div class="views">
								<span>SHARES</span>
								<label>28</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="pinterest"></i>
							<div class="views">
								<span>PIN</span>
								<label>16</label>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="email"></i>
							<div class="views">
								<span>Email</span>
							</div>
							<div class="clearfix"></div>
						</a>
					</li>
				</ul>
			</div>
<!-- 分享结束 -->

	<div class="col-md-6 content-left single-post">
				<div class="blog-posts">
			<h3 class="post">{{ post.title }}</h3>
				<div class="last-article">
					<div class="post_content">
                        {% load  mytag%}
                        {{ post.body|my_markdown|safe }}
                    </div>
					<ul class="categories">
						<li><a href="#">Markets</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Sport</a></li>
						<li><a href="#">Special reports</a></li>
						<li><a href="#">Culture</a></li>
					</ul>
					<div class="clearfix"></div>
					<!--related-posts-->
{#				<div class="row related-posts">#}
{#					<h4>Articles You May Like</h4>#}
{#					<div class="col-xs-6 col-md-3 related-grids">#}
{#						<a href="single.html" class="thumbnail">#}
{#							<img src="images/f2.jpg" alt=""/>#}
{#						</a>#}
{#						<h5><a href="single.html">Lorem Ipsum is simply</a></h5>#}
{#					</div>#}
{#					<div class="col-xs-6 col-md-3 related-grids">#}
{#						<a href="single.html" class="thumbnail">#}
{#							<img src="images/f1.jpg" alt=""/>#}
{#						</a>#}
{#						<h5><a href="single.html">Lorem Ipsum is simply</a></h5>#}
{#					</div>#}
{#					<div class="col-xs-6 col-md-3 related-grids">#}
{#						<a href="single.html" class="thumbnail">#}
{#							<img src="images/f3.jpg" alt=""/>#}
{#						</a>#}
{#						<h5><a href="single.html">Lorem Ipsum is simply</a></h5>#}
{#					</div>#}
{#					<div class="col-xs-6 col-md-3 related-grids">#}
{#						<a href="single.html" class="thumbnail">#}
{#							<img src="images/f6.jpg" alt=""/>#}
{#						</a>#}
{#						<h5><a href="single.html">Lorem Ipsum is simply</a></h5>#}
{#					</div>#}
{#				</div>#}
				<!--//related-posts-->

				<div class="response">
					<h4 id="count">所有回复</h4>
                    <button id='btn_response' value="回复">发表评论</button>
                <div class="response_content"></div>
				</div>
                    <div class="comment_fla">
                        <p id="p_success">评论成功!</p>
                        <p id ='P_failed'>评论失败!</p>
                    </div>
				<div class="coment-form" id="coment-form">
					<h4>发表评论</h4>
					<form>

						<textarea class="textarea" id="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">Your Comment...</textarea>
						<input id="but_comment" type="button" value="Submit Comment" >
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

				</div>

{% endblock left_content %}