<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <link href="/static/css/bootstrap.css">

</head>
<body style="text-align:center;width: 100%;height:100%;background: #dddddd;">
<form action="/add_p" method="post" role="form" style="margin:300px auto;width: 40%;text-align: left;">
  <div class="form-group">
      {% csrf_token %}

      <h3>选择所属分类</h3>
  <div class="radio-inline" style="margin-bottom: 20px;">
      {% for c in c_l %}

  <label class="radio-inline">
    <input type="radio" name="cid" id="optionsRadios1" value="{{ c.id }}" checked>{{ c.title }}
  </label>

          {% empty  %}<h4>没有分类</h4>
    {% endfor %}
  </div>
    <label for="name" style="margin-top: 30px;">请输入文章标题:</label>
    <input type="text" class="form-control" id="name" name="ptitle" placeholder="请输入标题内容">
  </div>
  </div>
  <button type="submit" class="btn btn-default" style="margin-top: 20px;">提交</button>
</form>

</body>
</html>